<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Components / Accordion - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/admin/assets/img/favicon.png" rel="icon">
  <link href="/admin/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/admin/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/admin/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/admin/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/admin/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/admin/assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/admin/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/admin/assets/vendor/simple-datatables/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.7.0/css/buttons.dataTables.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">

  <!-- Template Main CSS File -->
  <link href="/admin/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.1.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="/admin/home" class="logo d-flex align-items-center">
        <img src="/admin/assets/img/logo.png" alt="">
        <span class="d-none d-lg-block">Wolmart</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <!-- <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li> -->
        <!-- End Search Icon-->





        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <!-- <img src="/admin/assets/img/profile-img.jpg" alt="Profile" class="rounded-circle"> -->
            <span class="d-none d-md-block dropdown-toggle ps-2">Admin</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/admin/logout">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/user">
          <i class="bi bi-person"></i>
          <span>User</span>
        </a>

      </li><!-- End Forms Nav -->





      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/products">
          <i class="bi bi-layout-text-window-reverse"></i><span>Products</span>
        </a>

      </li><!-- End Tables Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/category">
          <i class="bi bi-diagram-3-fill"></i><span>Category</span>
        </a>

      </li><!-- End Charts Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/order">
          <i class="bi bi-journal-text"></i><span>Orders</span>
        </a>

      </li><!-- End Icons Nav -->



      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav1" data-bs-toggle="collapse" href="#">
          <i class="bi bi-gift-fill"></i><span>Offer Management</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav1" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/admin/offer-category">
              <i class="bi bi-circle"></i><span>Category Offer</span>
            </a>
          </li>
          <li>
            <a href="/admin/offer-product">
              <i class="bi bi-circle"></i><span>Product Offer</span>
            </a>
          </li>
          <li>
            <a href="/admin/coupon">
              <i class="bi bi-circle"></i><span>Coupon</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Reports</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/admin/report">
              <i class="bi bi-circle"></i><span>Page-1</span>
            </a>
          </li>
        </ul>
      </li><!-- End Components Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/banner">
          <i class="bi bi-journal-text"></i><span>Banner</span>
        </a>

      </li><!-- End Icons Nav -->


    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main" style="min-height: 90vh;">

    <div class="pagetitle">
      <h1>ORDERS</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/admin/">Home</a></li>
          <li class="breadcrumb-item">Order</li>

        </ol>
      </nav>
    </div><!-- End Page Title -->
    <%if(order.length!=0){%>
      <table id="example" class="display table  table-responsive-md table-hover table-striped table-bordered"
        style="width:100%">
        <thead class="table-dark">
          <tr>

            <th scope="col">Order</th>
            <th scope="col">Date</th>
            <th scope="col">User</th>
            <th scope="col">Phone</th>
            <th scope="col">Payment</th>
            <th scope="col">Amount</th>
            <th scope="col">Status</th>
            <th scope="col">Details</th>

          </tr>
        </thead>

        <tbody>
          <%for(var i=0;i<order.length;i++){%>
            <tr>

              <td>
                <%=order[i]._id%>
              </td>
              <td>
                <%=order[i].date.getDate()%>/<%=order[i].date.getMonth()+1%>/<%=order[i].date.getFullYear()%>
              </td>
              <td>
                <%=order[i].delivaryDetails.name%>
              </td>
              <td>
                <%=order[i].delivaryDetails.phone%>
              </td>
              <td>
                <%=order[i].paymentMethod%>
              </td>
              <td>
                <%=order[i].totalAmount%>
              </td>
              <td>
                <%if(order[i].status!='cancelled'){%>
                  <%if(order[i].status!='delivered'){%>
                    <!-- <%=order[i].status%><br> -->
                    <select name="status" id="status_<%=order[i]._id%>" onchange="getStatus('<%=order[i]._id%>')">
                      <option>
                        <%=order[i].status%>
                      </option>
                      <option value="shipped">Shipped</option>  
                      <option style="background-color: orangered;" value="cancelled">Cancel</option>
                      <option value="delivered">Delivered</option>
                    </select>
                    <%}%>
                      <%}%>
                        <%if(order[i].status=='cancelled'){%>
                          <span style="color: orangered;">
                            <%=order[i].status%><br>
                          </span>
                          <%}%>
                            <%if(order[i].status=='delivered'){%>
                              <span style="color: rgb(51, 255, 0);">
                                <%=order[i].status%><br>
                              </span>
                              <%}%>

              </td>
              <td style="text-align: center;"><a href="/admin/view-order/<%=order[i]._id%>"><i
                    class="bi bi-folder-fill"></i></a></td>
            </tr>
            <%}%>
        </tbody>

        <!-- <tfoot>
          <tr>
              <th colspan="8" style="text-align:right">Total:</th>
              <th></th>
          </tr>
      </tfoot> -->
      </table>
      <%}%>
        <%if(order.length<1){%>
          <div class="justify-content-center">
            <h3>No record found!</h3>
          </div>
          <%}%>
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span></span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->

    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/admin/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
  <script src="/admin/assets/vendor/php-email-form/validate.js"></script>
  <script src="/admin/assets/vendor/quill/quill.min.js"></script>
  <script src="/admin/assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="/admin/assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/admin/assets/vendor/chart.js/chart.min.js"></script>
  <script src="/admin/assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/admin/assets/vendor/echarts/echarts.min.js"></script>

  <!-- Template Main JS File -->
  <script src="/admin/assets/js/main.js"></script>
  <!--datatable script-->
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>

  <script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.html5.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.print.min.js"></script>
  <script>
    $(document).ready(function () {
      $('#example').DataTable(
        // {
        //     "footerCallback": function (row, data, start, end, display) {
        //         var api = this.api(),data;

        //         // Remove the formatting to get integer data for summation
        //         // var intVal = function (i) {
        //         //     return typeof i === 'string' ?
        //         //         i.replace(/[\$,]/g, '') * 1 :
        //         //         typeof i === 'number' ?
        //         //             i : 0;
        //         // };

        //         // Total over all pages
        //         // total = api
        //         //     .column(6)
        //         //     .data()
        //         //     .reduce(function (a, b) {
        //         //         return intVal(a) + intVal(b);
        //         //     }, 0);


        //         // Update footer
        //         // $(api.column(6).footer()).html(
        //         //    ' ( $' + total + ' total)'
        //         // );
        //     }
        // dom: 'Bfrtip',
        //     buttons: [
        //         'excel', 'pdf', 'print'
        //     ]
        // }
      );
    });
  </script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
  <script>
    function getStatus(orderId) {
      let status = $(`#status_${orderId}`).val()
      
      $.ajax({
        url: '/admin/order/change-status',
        method: "post",
        data: { status: status, orderId: orderId },
        success: (response) => {
          location.reload()
        }
      })
    }


  </script>
</body>

</html>