<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Components / Accordion - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/admin/assets/img/favicon.png" rel="icon">
  <link href="/admin/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/admin/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/admin/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/admin/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/admin/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/admin/assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/admin/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/admin/assets/vendor/simple-datatables/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.7.0/css/buttons.dataTables.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- Template Main CSS File -->
  <link href="/admin/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.1.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="/admin/home" class="logo d-flex align-items-center">
        <img src="/admin/assets/img/logo.png" alt="">
        <span class="d-none d-lg-block">Wolmart</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <!-- <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li> -->
        <!-- End Search Icon-->





        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <!-- <img src="/admin/assets/img/profile-img.jpg" alt="Profile" class="rounded-circle"> -->
            <span class="d-none d-md-block dropdown-toggle ps-2">Admin</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/admin/logout">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/user">
          <i class="bi bi-person"></i>
          <span>User</span>
        </a>

      </li><!-- End Forms Nav -->





      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/products">
          <i class="bi bi-layout-text-window-reverse"></i><span>Products</span>
        </a>

      </li><!-- End Tables Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/category">
          <i class="bi bi-diagram-3-fill"></i><span>Category</span>
        </a>

      </li><!-- End Charts Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/order">
          <i class="bi bi-journal-text"></i><span>Orders</span>
        </a>

      </li><!-- End Icons Nav -->



      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav1" data-bs-toggle="collapse" href="#">
          <i class="bi bi-gift-fill"></i><span>Offer Management</span><i class="bi bi-chevron-down ms-auto"></i>          
        </a>
        <ul id="components-nav1" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/admin/offer-category">
              <i class="bi bi-circle"></i><span>Category Offer</span>
            </a>
          </li>
          <li>
            <a href="/admin/offer-product">
              <i class="bi bi-circle"></i><span>Product Offer</span>
            </a>
          </li>
          <li>
            <a href="/admin/coupon">
              <i class="bi bi-circle"></i><span>Coupon</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Reports</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/admin/report">
              <i class="bi bi-circle"></i><span>Page-1</span>
            </a>
          </li>
        </ul>
      </li><!-- End Components Nav -->
      
      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/banner">
          <i class="bi bi-journal-text"></i><span>Banner</span>
        </a>
        
      </li><!-- End Icons Nav -->


    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main" style="min-height: 90vh;">

    <div class="pagetitle">
      <h1>OFFER</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/admin/">Home</a></li>
          <li class="breadcrumb-item">Offer</li>
          <li class="breadcrumb-item">Product Offer</li>

        </ol>
      </nav>
    </div><!-- End Page Title -->
    <!--offer div-->
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="row">
            <div class="col-md-8">
              <table class="table table-borderless table-hover table-striped shadow p-3 mb-5 bg-white rounded">
                <thead class="table-dark">
                  <tr>
                    <th scope="col">Offer Name</th>
                    <th scope="col">Offer</th>
                    <th scope="col">Expiry</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody id="refresh">
                  <%for(var i=0; i<catOffer.length;i++){%>
                    <tr>
                      <th scope="row"><%=catOffer[i].offerName%></th>
                      <td><%=catOffer[i].offerPercent%>%</td>
                      <td><%=catOffer[i].expDate.getFullYear()%>-<%=catOffer[i].expDate.getMonth()+1%>-
                        <%=catOffer[i].expDate.getDate()%></td>
                      <td class="badge bg-danger text-light mt-1 btn"
                        onclick="deleteOffer('<%=catOffer[i]._id%>')"><span>Delete</span>
                      </td>
                    </tr>
                  <%}%> 
                </tbody>
              </table>


            </div>
            <div class="col-md-4 border bg-light ps-4 shadow p-3 mb-5 bg-white rounded">
              <div>
                <h4 class="text-center mt-3"><span><b><span class="badge bg-primary">ADD NEW OFFER</span></b><span></h4>
              </div>
              <form id="offer-add-form">
                <div class="col-12 mb-3">
                  <label for="offer-name">Offer Name</label><br>
                  <input type="text" style="width: 100%;" name="offer-name" id="offer-name" minlength="3">
                </div>

                
                <div class="col-12 mb-3">
                  <label for="offer-name">Offer Percentage</label><br>
                  <input style="width: 100%;" type="number" name="offer-percent" id="offer-percent" min="1" max="99">
                </div>
                <div class="col-12 mb-3">
                  <label for="offer-expiry">Offer Expiry</label><br>
                  <input type="date" style="width: 100%;" name="offer-date" id="offer-date">
                </div>
                <div class="mb-3">
                  <button class=" btn-sm btn-secondary" type="submit">Add Offer</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span></span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->

    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/admin/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
  <script src="/admin/assets/vendor/php-email-form/validate.js"></script>
  <script src="/admin/assets/vendor/quill/quill.min.js"></script>
  <script src="/admin/assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="/admin/assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/admin/assets/vendor/chart.js/chart.min.js"></script>
  <script src="/admin/assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/admin/assets/vendor/echarts/echarts.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


  <!-- Template Main JS File -->
  <script src="/admin/assets/js/main.js"></script>

  <script>
    // $('#offer-name').click(function () {
    //   if (document.getElementById('offer-name').value.trim()<3) {
    //     document.getElementById('offer-name').style.borderColor='red'
    //   }else if(document.getElementById('offer-name').value.trim()>=3){
    //     document.getElementById('offer-name').style.borderColor='black'
    //   }
    // })
    $(function () {
      let dtToday = new Date();
      let month = dtToday.getMonth() + 1;
      let day = dtToday.getDate() + 1;
      let year = dtToday.getFullYear();
      let time = dtToday.getHours() + ':' + dtToday.getMinutes()
      if (month < 10)
        month = '0' + month.toString()
      if (day < 10)
        day = '0' + day.toString();

      let minDate = year + '-' + month + '-' + day

      $('#offer-date').attr('min', minDate)

    })
    $("#offer-add-form").submit(function (e) {
      if ($('#offer-name').val() == "" || !($('#offer-percent').val() > 0 && $('#offer-percent').val() < 100) || $('#offer-date').val() == "" ||$('#offer-date').val() < new Date(new Date() + 1 * 60 * 60 * 24 * 1000).toISOString().split('T')[0]) {
        e.preventDefault();
      }
    })

    // $("#offer-date").click((e) => {
    //   let today = new Date().toISOString().split('T')[0];
    //   var d = new Date();
    //   $("#offer-date").attr("min", today);
    // })

    //add new category offer via ajax
    $('#offer-add-form').submit((e) => {

      e.preventDefault()

      if ($('#offer-name').val() == "" || !($('#offer-percent').val() > 0 && $('#offer-percent').val() < 100) || $('#offer-date').val() == "") {
        Swal.fire('Please fill all details')
      } else if ($('#offer-date').val() < new Date().toISOString().split('T')[0]) {
        Swal.fire('Date not valid')
      } else {

        $.ajax({
          url: '/admin/offer-product/add',
          method: "post",
          data: $('#offer-add-form').serialize(),
          success: (response) => {
            if (response.status == 'error') {
              Swal.fire({ 'title': 'Error while adding offer', 'icon': 'info' })

            } else {
              location.reload()
            }
          }
        })
      }
    })

    //delete an offer
    function deleteOffer(offerId) {

      Swal.fire({
        title: 'Are you sure?',
        text: "Confirm deleting this offer!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
      }).then((result) => {
        if (result.isConfirmed) {

          $.ajax({
            url: '/admin/offer-product/delete',
            method: 'post',
            data: { offerId: offerId},
            success: (response) => {
              Swal.fire({
                'title':"Offer deleted",
                'icon':'success'
              }).then(()=>{
                location.href = '/admin/offer-product'
              })
              
            }
          })


        }
      })
    }
  </script>

</body>

</html>